html, body, #content, .row {
  height: 100%;
  margin: 0;
}
body {
  font-size: 1.1em;
  font-family: sans-serif;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

#control-panel {
  width: 15em;
  flex: 0 0 auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: #99948A;
  border-right: 1px solid #1A1917;
  padding: 0 0.5em;
}

#control-panel > .btn {
  margin: 0.5em 0;

}

#control-panel label {
  margin-bottom: 0;
}

#control-panel h6 {
  margin-bottom: 0.25em;
}

#rendered {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CCC5B8;
}

.image-grid {
  aspect-ratio: 1 / 1;
  display: grid;
  border: dashed black medium;
  box-sizing: border-box;
}

#rendered .image-grid {
  height: 90%;
  max-width: 90%;
}

#file-upload {
  display: none;
}
